apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: home
      defaultBucket: power_monitoring
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-token
    isDefault: true
